
#bookimage1
{
    vertical-align: top;
    position:absolute;left:64px;top:221px;width:489px;height:264px;z-index:4;
}
#Image1
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#bookimage2
{
    vertical-align: top;
    position:absolute;left:64px;top:498px;width:136px;height:70px;z-index:5;
}
#Image2
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#bookimage3
{
    vertical-align: top;
    position:absolute;left:221px;top:497px;width:167px;height:72px;z-index:6;
}
#Image3
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#bookimage4
{
    vertical-align: top;
    position:absolute;left:408px;top:496px;width:145px;height:74px;z-index:7;
}
#Image4
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#bookimage5
{
    vertical-align: top;
}
#Image5
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#bookdesc
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#bookdesc div
{
    text-align: left;
}
#bookauthor
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#bookauthor div
{
    text-align: left;
}
#bookname
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#bookname div
{
    text-align: left;
}
#wb_Text4
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#wb_Text4 div
{
    text-align: left;
}
#TextArea1
{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: none;
    color :#000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    margin: 0;
    text-align: left;
    overflow: auto;
    resize: none;
}
#TextArea1:focus
{
    border-color: #66AFE9;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
    outline: 0;
}
#wb_Text5
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#wb_Text5 div
{
    text-align: left;
}
#Button1
{
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    background-color: #3370B7;
    background-image: none;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    -webkit-appearance: none;
    margin: 0;
}
#wb_Text6
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#wb_Text6 div
{
    text-align: left;
}
#star1
{
    vertical-align: top;
}
#star1img
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#star2
{
    vertical-align: top;
}
#star2img
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#star3
{
    vertical-align: top;
}
#star3img
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#star4
{
    vertical-align: top;
}
#star4img
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#star5
{
    vertical-align: top;
}
#star5img
{
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
